<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crew</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<h1> Crew of the ships: </h1>

<table>

    <tr>
        <th>Crew Name:</th>
        <th>Crew Rank:</th>
    </tr>

    <tr data-th-each="datas:${allcrewdata}">
        <td th:text="${datas.crewName}">Name</td>
        <td th:text="${datas.crewRank}">Crew rank</td>
    </tr>

</table>

<table>
    <a data-th-href="@{/spaceship/all}">View All Ships</a>

    <a data-th-href="@{/crew/all}">View All Crews</a>

    <a data-th-href="@{/officer/login}">Officer Login</a>

    <a data-th-href="@{/officer/reg}">Officer Registration</a>

    <a data-th-href="@{/spaceship}">Add Spaceship</a>

    <a data-th-href="@{/spaceship/all}">All Spaceships</a>

    <a data-th-href="@{/spaceship/isActive}">Active Spaceships</a>
</table>


</body>

</html>