<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search for all active ships</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<h1> List of all active ships: </h1>

<table>

    <tr>
    <th>Registration Code:</th>
    <th>Name:</th>
    <th>Spaceship Class:</th>
    <th>Spaceship is Actice?: </th>
    </tr>

    <tr data-th-each="datas:${results}">
        <td th:text="${datas.registrationCode}">Registration Code</td>
        <td th:text="${datas.name}">Name</td>
        <td th:text="${datas.spaceShipClass}">Spaceship Class</td>
        <td th:text="${datas.isActive}">Is Activce?</td>
    </tr>

</table>

</body>

</html>